[submodule "3rd/premake-core"]
	path = 3rd/premake-core
	url = https://github.com/premake/premake-core.git
[submodule "3rd/premake-qt"]
	path = 3rd/premake-qt
	url = https://github.com/dcourtois/premake-qt.git
